<h1>Login!</h1>
<div class="container">

    <div style="position: relative; height: 53.33px; margin-bottom: 10px;">
        <div class="alert alert-warning" *ngIf="error && errorMessage; else defaultErrorMessageTemplate">
            {{errorMessage}}
        </div>
        <ng-template #defaultErrorMessageTemplate>
            <div *ngIf="invalidLogin" class="alert alert-warning">{{defaultErrorMessage}}</div>
        </ng-template>

        <div class="alert alert-success" *ngIf="obsResponseMessage$ | async; let resp;">
            Successfully registered email: <b>{{resp.email}}</b> An <b>email</b> will be send to said address to compete your registration and enable your account.
        </div>
    </div>


    
    <div style="position: relative;">
        <p>Provide your email to login. Or register your email.</p>

        <form ngNativeValidate #loginRegisterForm>
            <div class="form-group">
                <label for="inputEmail">Email address:</label>
                <input class="form-control" type="email" id="inputEmail" name="email" [(ngModel)]="email" placeholder="Enter email" required autofocus>
            <button style="margin-top: 10px;"(click)="loginRegisterForm.checkValidity() ? handleBasicAuthLogin() : null" class="btn btn-success">
                <mat-spinner diameter="24" *ngIf="loading"></mat-spinner>
                <span *ngIf="!loading">Login</span>           
            </button>
            <button mat-button [disabled]="loading" style="margin-left: 10px; margin-top: 10px;" (click)="loginRegisterForm.checkValidity() ? register() : null" class="btn btn-success" >
                <mat-spinner diameter="24" *ngIf="loading"></mat-spinner>
                <span *ngIf="!loading">Register</span>           
            </button>
            </div>  
        </form>
    </div>
</div>